@font-face {
    font-family: "Rubik-Bold";
    src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Rubik-Medium";
    src: url(./fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Rubik-Regular";
    src: url(./fonts/Rubik-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik-Regular";
}

.container {
    text-align: center;
    min-width: 1440px;
    margin: 0 auto;
}

.button {
    height: 56px;
    color: #fff;
    font-size: 16px;
    background-color: #12569B;
    border-radius: 28px;
    border-color: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: #12579bda;

}

.button:active {
    cursor: pointer;
    background-color: #12579bcf;
    
}

.button-header {
    width: 196px;
}

.header {
    height: 570px;
    display: flex;
    background-color: #E3E6ED;
    padding: 0 94px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    width: 1075px;
    margin: 0 auto;
}

.header-content {
    width: 445px;
    text-align: left;
    margin-top: 44px;
}

.header-icon {
    display: block;
    margin-bottom: 100px;
}

.header-content h1 {
    width: 280px;
    font-family: "Rubik-Bold";
    font-size: 80px;
    color: #212033;
    line-height: 88%;
    letter-spacing: 14px;
    margin-bottom: 34px;
}

.header-dron {
    height: 466px;
}